<footer>
    <p class="word">Supported</p>
    <ul class="sponsers">
        <li class="company">
            <img src="../../../assets/images/adobe.png" width="65" height="22" alt="adobe logo" />
        </li>
        <li class="company">
            <img src="../../../assets/images/rakuten.jpg" width="65" height="22" alt="rakuten logo" />
        </li>
        <li class="company">
            <img src="../../../assets/images/google.png" width="65" height="22" alt="google logo" />
        </li>
        <li class="company">
            <img src="../../../assets/images/google.png" width="65" height="22" alt="google logo" />
        </li>
    </ul>
</footer>