<header class="container">
    <nav>
        <ul>
            <li>
                <img src="../../../assets/images/logo.png" alt="logo image" width="40" height="40" class="logo-img" />
            </li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Company</a></li>
        </ul>
    </nav>
    <div class="signup-login">
        <ul>
            <li><a class="signup-btn">Sign up</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</header>